.Menu {
  max-width: 1100px;
  padding: 7rem 5rem;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .Menu-section {
    align-self: flex-start;

    .Menu-section-header {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .Menu-items-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;

      .Menu-item {
        max-width: 500px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .Menu-item-left {
          .Menu-image {
            min-width: 160px;
            max-width: 160px;
            min-height: 160px;
            max-height: 160px;
            border-radius: 50%;
            padding: 0.75rem;
            border: 1px solid #70809066;
          }
        }

        .Menu-item-right {
          .Menu-item-description {
            line-height: 1.4rem;
          }

          .Menu-pricing {
            align-self: flex-end;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .counter {
              border: 1px solid #eeeeee;
              display: flex;
              flex-direction: row;
              align-items: center;
              text-align: center;

              div {
                width: 25px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:first-child {
                  background-color: #eeeeee;
                  cursor: pointer;
                }

                &:last-child {
                  background-color: #eeeeee;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
    .BYO-button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
