.AdminMenuItems {
  .AdminMenuItems-items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    .AdminMenuItems-item {
      max-width: 500px;
      display: flex;
      flex-direction: row;
      align-items: center;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

      .AdminMenuItems-item-left {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .AdminMenuItems-item-image {
          min-width: 160px;
          max-width: 160px;
          min-height: 160px;
          max-height: 160px;
          border-radius: 50%;
          padding: 0.75rem;
          border: 1px solid #70809066;
        }
      }

      .AdminMenuItems-item-right {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .AdminMenuItems-item-description {
          line-height: 1.4rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .AdminMenuItems {
    .AdminMenuItems-items-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 1080px) {
  .AdminMenuItems {
    .AdminMenuItems-items-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
