.Menu-section {
  align-self: flex-start;

  .Menu-section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .Menu-items-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .Menu-item {
      max-width: 500px;
      display: flex;
      flex-direction: row;
      align-items: center;

      .Menu-item-left {
        .Menu-image {
          min-width: 160px;
          max-width: 160px;
          min-height: 160px;
          max-height: 160px;
          border-radius: 50%;
          padding: 0.75rem;
          border: 1px solid #70809066;
        }
      }

      .Menu-item-right {
        .Menu-item-description {
          line-height: 1.4rem;
        }

        .Menu-item-price {
          text-align: right;
          font-weight: 600;
        }
      }
    }
  }
  .BYO-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
