.ImageUploadPreview {
  max-width: 100%;

  .ImageUploadPreview-image-container {
    max-width: 300px;

    .ImageUploadPreview-image {
      width: 100%;
      max-width: 100%;
    }
  }

  label {
    text-align: center;
  }
}
