.ImageUploadPreview {
  max-width: 100%;

  .ImageUploadPreview-image-container {
    .ImageUploadPreview-image-container-menu {
      max-width: 300px;

      .ImageUploadPreview-image {
        width: 100%;
        max-width: 100%;
      }
    }

    .ImageUploadPreview-image-container-blog {
      width: 100%;
      height: 300px;
    }
  }

  label {
    text-align: center;
  }
}
