.AddEditMenuItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  form {
    width: 300px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    textarea {
      resize: none;
    }
  }
}
