.AddEditBlogArticle {
  width: 100%;
  min-height: 100vh;
  background: whitesmoke;
  padding: 8rem;

  //   .AddEditBlogArticle-container {
  //     width: 100%;
  //     height: 100%;

  //     .AddEditBlogArticle-content-container {
  //       width: 100%;
  //       height: 100%;
  //     }
  //   }
}
